

.container {
	background-color: white;
}

.jumbotron{
	background-color:  #00ff99;
}

#recipeImg {
	width: 200px;
}

#current-recipe {
	margin: 10px;
	display: inline-block;
	/*margin: auto;*/

}

#recipe-comparisons {
	padding-top: 10px;
}


.comparison img {
	width: 200px;
	height: 200px;
}

.comparison:hover {
	border-style: solid;
	border-width: 3px;
}
