<<<<<<< HEAD
.container {
	width: 940px;
}

.jumbotron{
	background-color:  #00ff99;
}

#recipeImg {
	width: 200px;
}

#current-recipe {
	margin: 10px;
	display: inline-block;
	/*margin: auto;*/

}


.comparison img {
	width: 200px;
